.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  display: flex;
  padding: 10px;
  margin-top: 50px;
}

.plus {
  padding: 10px;
  background-color: blue;
  border: none;
  color: white
}

.minus {
  padding: 10px;
  background-color: red;
  border: none;
  color: white;
}

.count {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}

.inputdiv {
  margin-top: 20px;
}

.input {
  padding: 10px;
}